
// Body
$body-bg: #FFFFFF;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//colors
$firstColor: #FCF9F2;
$secondColor: #FFFFFF;
$thirdColor: #8AD1EF;
$colorFour: #FCBACC;





