// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';
@import "header";
@import "home";
@import "user";
@import "dashboard";
//@import "compteRebours";

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.firstColor{
    background-color: $firstColor;
}

.secondColor{
    background-color: $secondColor;
}

.thirdColor{
    background-color: $thirdColor;
}

.colorFour{
    background-color: $colorFour;
}
